nz-layout {
  background: white;
  width: 100vw;
  height: 100vh;

  nz-content {
    width: 400px;
    margin: 0 auto;
    display: inline-block;

    form {
      background: #f0f2f5;
      padding: {
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 0;
      };
      border: 1px solid #ccc;
      border-radius: 10px;
      margin: {
        top: 200px;
      };
    }
  }
}
